.item-txt {
  /deep/ .iconf{display: inline-block;width: 25px;height: 25px;vertical-align: bottom;background-size: cover !important;}
  /deep/ #icn_0{background: url(../../assets/face/f0.png) no-repeat;}
  /deep/ #icn_1{background: url(../../assets/face/f1.png) no-repeat;}
  /deep/ #icn_2{background: url(../../assets/face/f2.png) no-repeat;}
  /deep/ #icn_3{background: url(../../assets/face/f3.png) no-repeat;}
  /deep/ #icn_4{background: url(../../assets/face/f4.png) no-repeat;}
  /deep/ #icn_5{background: url(../../assets/face/f5.png) no-repeat;}
  /deep/ #icn_6{background: url(../../assets/face/f6.png) no-repeat;}
  /deep/ #icn_7{background: url(../../assets/face/f7.png) no-repeat;}
  /deep/ #icn_8{background: url(../../assets/face/f8.png) no-repeat;}
  /deep/ #icn_9{background: url(../../assets/face/f9.png) no-repeat;}
  /deep/ #icn_10{background: url(../../assets/face/f10.png) no-repeat;}
  /deep/ #icn_11{background: url(../../assets/face/f11.png) no-repeat;}
  /deep/ #icn_12{background: url(../../assets/face/f12.png) no-repeat;}
  /deep/ #icn_13{background: url(../../assets/face/f13.png) no-repeat;}
  /deep/ #icn_14{background: url(../../assets/face/f14.png) no-repeat;}
  /deep/ #icn_15{background: url(../../assets/face/f15.png) no-repeat;}
  /deep/ #icn_16{background: url(../../assets/face/f16.png) no-repeat;}
  /deep/ #icn_17{background: url(../../assets/face/f17.png) no-repeat;}
  /deep/ #icn_18{background: url(../../assets/face/f18.png) no-repeat;}
  /deep/ #icn_19{background: url(../../assets/face/f19.png) no-repeat;}
  /deep/ #icn_20{background: url(../../assets/face/f20.png) no-repeat;}
  /deep/ #icn_21{background: url(../../assets/face/f21.png) no-repeat;}
  /deep/ #icn_22{background: url(../../assets/face/f22.png) no-repeat;}
  /deep/ #icn_23{background: url(../../assets/face/f23.png) no-repeat;}
  /deep/ #icn_24{background: url(../../assets/face/f24.png) no-repeat;}
  /deep/ #icn_25{background: url(../../assets/face/f25.png) no-repeat;}
  /deep/ #icn_26{background: url(../../assets/face/f26.png) no-repeat;}
  /deep/ #icn_27{background: url(../../assets/face/f27.png) no-repeat;}
  /deep/ #icn_28{background: url(../../assets/face/f28.png) no-repeat;}
  /deep/ #icn_29{background: url(../../assets/face/f29.png) no-repeat;}
  /deep/ #icn_30{background: url(../../assets/face/f30.png) no-repeat;}
  /deep/ #icn_31{background: url(../../assets/face/f31.png) no-repeat;}
  /deep/ #icn_32{background: url(../../assets/face/f32.png) no-repeat;}
  /deep/ #icn_33{background: url(../../assets/face/f33.png) no-repeat;}
  /deep/ #icn_34{background: url(../../assets/face/f34.png) no-repeat;}
  /deep/ #icn_35{background: url(../../assets/face/f35.png) no-repeat;}
  /deep/ #icn_36{background: url(../../assets/face/f36.png) no-repeat;}
  /deep/ #icn_37{background: url(../../assets/face/f37.png) no-repeat;}
  /deep/ #icn_38{background: url(../../assets/face/f38.png) no-repeat;}
  /deep/ #icn_39{background: url(../../assets/face/f39.png) no-repeat;}
  /deep/ #icn_40{background: url(../../assets/face/f40.png) no-repeat;}
  /deep/ #icn_41{background: url(../../assets/face/f41.png) no-repeat;}
  /deep/ #icn_42{background: url(../../assets/face/f42.png) no-repeat;}
  /deep/ #icn_43{background: url(../../assets/face/f43.png) no-repeat;}
  /deep/ #icn_44{background: url(../../assets/face/f44.png) no-repeat;}
  /deep/ #icn_45{background: url(../../assets/face/f45.png) no-repeat;}
  /deep/ #icn_46{background: url(../../assets/face/f46.png) no-repeat;}
  /deep/ #icn_47{background: url(../../assets/face/f47.png) no-repeat;}
  /deep/ #icn_48{background: url(../../assets/face/f48.png) no-repeat;}
  /deep/ #icn_49{background: url(../../assets/face/f49.png) no-repeat;}
  /deep/ #icn_50{background: url(../../assets/face/f50.png) no-repeat;}
  /deep/ #icn_51{background: url(../../assets/face/f51.png) no-repeat;}
  /deep/ #icn_52{background: url(../../assets/face/f52.png) no-repeat;}
  /deep/ #icn_53{background: url(../../assets/face/f53.png) no-repeat;}
  /deep/ #icn_54{background: url(../../assets/face/f54.png) no-repeat;}
  /deep/ #icn_55{background: url(../../assets/face/f55.png) no-repeat;}
  /deep/ #icn_56{background: url(../../assets/face/f56.png) no-repeat;}
  /deep/ #icn_57{background: url(../../assets/face/f57.png) no-repeat;}
  /deep/ #icn_58{background: url(../../assets/face/f58.png) no-repeat;}
  /deep/ #icn_59{background: url(../../assets/face/f59.png) no-repeat;}
  /deep/ #icn_60{background: url(../../assets/face/f60.png) no-repeat;}
  /deep/ #icn_61{background: url(../../assets/face/f61.png) no-repeat;}
  /deep/ #icn_62{background: url(../../assets/face/f62.png) no-repeat;}
  /deep/ #icn_63{background: url(../../assets/face/f63.png) no-repeat;}
  /deep/ #icn_64{background: url(../../assets/face/f64.png) no-repeat;}
  /deep/ #icn_65{background: url(../../assets/face/f65.png) no-repeat;}
  /deep/ #icn_66{background: url(../../assets/face/f66.png) no-repeat;}
  /deep/ #icn_67{background: url(../../assets/face/f67.png) no-repeat;}
  /deep/ #icn_68{background: url(../../assets/face/f68.png) no-repeat;}
  /deep/ #icn_69{background: url(../../assets/face/f69.png) no-repeat;}
  /deep/ #icn_70{background: url(../../assets/face/f70.png) no-repeat;}
  /deep/ #icn_71{background: url(../../assets/face/f71.png) no-repeat;}
  /deep/ #icn_72{background: url(../../assets/face/f72.png) no-repeat;}
  /deep/ #icn_73{background: url(../../assets/face/f73.png) no-repeat;}
  /deep/ #icn_74{background: url(../../assets/face/f74.png) no-repeat;}
  /deep/ #icn_75{background: url(../../assets/face/f75.png) no-repeat;}
  /deep/ #icn_76{background: url(../../assets/face/f76.png) no-repeat;}
  /deep/ #icn_77{background: url(../../assets/face/f77.png) no-repeat;}
  /deep/ #icn_78{background: url(../../assets/face/f78.png) no-repeat;}
  /deep/ #icn_79{background: url(../../assets/face/f79.png) no-repeat;}
  /deep/ #icn_80{background: url(../../assets/face/f70.png) no-repeat;}
  /deep/ #icn_81{background: url(../../assets/face/f81.png) no-repeat;}
  /deep/ #icn_82{background: url(../../assets/face/f82.png) no-repeat;}
  /deep/ #icn_83{background: url(../../assets/face/f83.png) no-repeat;}
  /deep/ #icn_84{background: url(../../assets/face/f84.png) no-repeat;}
  /deep/ #icn_85{background: url(../../assets/face/f85.png) no-repeat;}
  /deep/ #icn_86{background: url(../../assets/face/f86.png) no-repeat;}
  /deep/ #icn_87{background: url(../../assets/face/f87.png) no-repeat;}
  /deep/ #icn_88{background: url(../../assets/face/f88.png) no-repeat;}
  /deep/ #icn_89{background: url(../../assets/face/f89.png) no-repeat;}
  /deep/ #icn_90{background: url(../../assets/face/f90.png) no-repeat;}
  /deep/ #icn_91{background: url(../../assets/face/f91.png) no-repeat;}
  /deep/ #icn_92{background: url(../../assets/face/f92.png) no-repeat;}
  /deep/ #icn_93{background: url(../../assets/face/f93.png) no-repeat;}
  /deep/ #icn_94{background: url(../../assets/face/f94.png) no-repeat;}
  /deep/ #icn_95{background: url(../../assets/face/f95.png) no-repeat;}
  /deep/ #icn_96{background: url(../../assets/face/f96.png) no-repeat;}
  /deep/ #icn_97{background: url(../../assets/face/f97.png) no-repeat;}
  /deep/ #icn_98{background: url(../../assets/face/f98.png) no-repeat;}
  /deep/ #icn_99{background: url(../../assets/face/f99.png) no-repeat;}
}